<%= form_for @user do |f|%>
  <p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name %></p>
  <p><%= f.label :last_name %></p>
  <p><%= f.text_field :last_name %></p>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.label :social_security_number %></p>
  <p><%= f.text_field :social_security_number %></p>
  <p><%= f.submit %></p>
<% end %>
